<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<!--/*thymesVar id="resources" type=java.util.List<andymcg7.northumberlandbadminton.club.Club>"*/-->
<head>
    <title>Clubs</title>
</head>
<body>
<div layout:fragment="main">
    <header th:replace="fragments/header :: header('clubs')">
    </header>
    <main class="container">
       <div class="masonry row">
           <div class="col s12">
               <h2>Clubs</h2>
               <div th:if="${resources.empty}">
                   <p>There are no clubs currently configured</p>
               </div>
               <div th:unless="${resources.empty}">
                   <table class="highlight">
                       <thead>
                       <tr>
                           <th>Name</th>
                           <th>Venue</th>
                           <th></th>
                           <th></th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr th:each="club : ${resources}" class="club resource" th:id="${club.id}">
                           <td th:text="${club.name}"></td>
                           <td th:text="${club.venue}"></td>
                           <td>
                               <a th:href="${#mvc.url('CC#displayEdit').arg(0, club.id).build()}" class="edit-button">
                                   <i class="material-icons green-text">edit</i>
                               </a>
                           </td>
                           <td>
                               <form th:action="${#mvc.url('CC#handleDelete').arg(0, club.id).build()}" method="post">
                                   <button type="submit" name="action" class="delete-button">
                                    <i class="material-icons red-text">delete</i>
                                   </button>
                               </form>
                           </td>
                       </tr>
                       </tbody>
                   </table>
               </div>
               <div>
                   <a th:href="${#mvc.url('CC#displayCreate').build()}"
                      class="btn-floating btn-large waves-effect waves-light green create-button">
                       <i class="material-icons">add</i>
                   </a>
               </div>
           </div>
       </div>
    </main>
</div>
</body>
</html>